In [9]:
df = DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [6]:
import pandas as pd
import numpy as np

In [8]:
dates = date_range('20130101',periods=6)

In [11]:
df

                   A         B         C         D
2013-01-01  0.256510 -0.009768  1.392868  2.437761
2013-01-02  0.436468  0.112515  0.386818 -0.530137
2013-01-03 -0.444259 -0.147962 -0.421539 -0.522934
2013-01-04  0.001962 -0.599219  0.814884 -0.130589
2013-01-05  0.132610 -0.058458 -0.519486 -0.342923
2013-01-06  0.679503  0.055484  0.472969  1.204441